
.selectors{
	margin-bottom: 2em;
	margin-top: 2em;
}

.time-slider{
	margin-bottom: 2em;
	margin-top: 2em;
}

.inside_nb{
	font-size: 5em;
	color: rgba(49, 130, 189, 0.8);
}

.inside_sb{
	font-size: 5em;
	color: rgba(51, 188, 49, 0.8);
}

.btn-round{
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	padding: 0;
	margin-bottom: 0.25em;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.line_name,
.station_name,
.when,
.time{
	display:none;

}

.line_name,
.station_name{
	text-transform: uppercase;
	color: #aaa;
	font-size: 80%;
}

.when,
.time{
	text-transform: uppercase;
	color: #aaa;	
	font-size: 80%;	
}

.label-default {
	background-color: rgba(141, 142, 142, 0.2);
	text-decoration: normal;
}

button{
	outline: 0;
}
