
.selectors{
	margin-bottom: 2em;
	margin-top: 2em;
}

.time-slider{

}

.inside_nb{
	font-size: 5em;
	color: rgba(49, 130, 189, 0.8);
}

.inside_sb{
	font-size: 5em;
	color: rgba(51, 188, 49, 0.8);
}

.btn-round{
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	padding: 0;
	margin-bottom: 0.25em;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	
	
}

.no-space{
	margin: 0 auto;
	padding: 0 auto;
}

.btn-default {
	border: none;
	background-color: rgba(255,255,255,0.4);
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus{
	background-color: rgba(255,255,255,0.9);
}

.line_name,
.station_name,
.when,
.time{
	/*display:none;*/

}

.line_name,
.station_name{
	text-transform: uppercase;
	color: #aaa;
	font-size: 80%;
	background-color: rgba(141, 142, 142, 0.2);
	transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;

}

.when,
.time{
	text-transform: uppercase;
	color: #aaa;	
	font-size: 80%;	
	background-color: rgba(141, 142, 142, 0.2);
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.label-default {
	
	text-decoration: normal;
}

.btn{
	color: rgba(0, 3, 51, 0.5);
}
.btn:hover{
	
	color: rgba(0, 3, 51, 0.5);
}

.btn:focus{
	outline: none;
}


.legend rect {
 fill:white;
 stroke:black;
 opacity:0.8; }


 body {
  background-color: #393939;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

p {
  color: #393939;
  margin: 50px;

}

a {
  color: #4FDEF2;
}

/*text{
	 transform: rotate(295deg);
}*/

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
 /* font-size: 0.75em;*/
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 18px;
}

.panel {
	background-color: rgba(141, 142, 142, 0.2);
	border-radius: 0;
	border: none;
}

.panel > .panel-heading {
	background-color: rgba(141, 142, 142, 0.9);
	border-radius: 0;
	border: none;
}

.form-control {
	background-color: rgba(255, 255, 255, 0.95);

}